$font-family: "Roboto", sans-serif;
$grey-color: #a3a3a3;

body {
    font-family: $font-family;
    margin: 20px 5%;
    box-sizing: border-box;
}

.header {
    display: grid;
    grid-template-columns: 90% 10%;
    align-items: center;

    .header__logo {
        display: flex;
        justify-content: center;
    }

    .header__cart {
        display: flex;
        justify-content: flex-end;
        align-items: center;

        .header__cart_img {
            display: block;
        }

        .header__span {
            background: black;
            color: white;
            min-width: 20px;
            height: 20px;
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 14px;
            margin: 8px;
            line-height: 20px;
        }
    }

    .sidebar {
        width: 340px;
        background: #2B2B2B;
        position: fixed;
        z-index: 10;
        top: 0;
        // right: 0;
        // display: none;
        right: -400px;
        transition: right .5s linear;

        .sidebar__item {
            display: flex;
            align-items: center;
            padding: 20px 40px;
            border-bottom: 1px solid #424242;
        }

        .sidebar__close {
            display: flex;
            justify-content: flex-end;
            color: white;
            padding: 38px 30px 70px;
            border-bottom: 1px solid #424242;
        }

        .sidebar__item-photo {
            height: 85px;
            width: 75px;
            object-fit: cover;
        }

        .sidebar__item-description {
            color: white;

            div {
                display: flex;
                justify-content: space-between;
                align-items: center;
            }

            .sidebar__item-name {
                margin: 19px 17px 0;
                white-space: nowrap;
                font-size: 12px;
                font-weight: 300;
            }

            .sidebar__item-count {
                font-size: 14px;
                margin: 6px 17px;
                letter-spacing: 2px;
            }

            .sidebar__item-price {
                font-size: 14px;
                padding: 0;
            }
        }

        .sidebar_total {
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin: 40px;
            color: white;
            font-size: 16px;
        }

        .sidebar__button {
            margin: 300px 0;

            button {
                display: block;
                margin: 0 auto;
                width: 260px;
                padding: 20px;
                text-transform: uppercase;
                background-color: Transparent;
                color: white;
                border: 1px solid white;
                font-size: 16px;
                cursor: pointer;
            }

            button:hover {
                background-color: white;
                color: #2B2B2B;
                transition: .1s linear;
            }
        }
    }

    .hover-sidebar:hover .sidebar {
        right: 0;
    }
}

main {
    display: flex;
    justify-content: space-between;
    margin-bottom: 100px;
    position: relative;

    .nav {
        margin-top: 30px;
        .nav__list {
            margin-left: 30px;
            padding: 0;
            text-transform: uppercase;
            font-size: 12px;
            font-weight: 300;

            li {
                list-style: none;
                margin: 30px 0;

                a {
                    text-decoration: none;
                    color: black;
                }

                span {
                    font-weight: 500;
                }

                a:hover {
                    font-weight: 500;
                }
            }
        }

        .nav__sort {

            .nav__sort-dropdown {
                display: flex;
                align-items: center;
                cursor: pointer;

                p {
                    font-weight: 300;
                    margin-left: 30px;
                }
            }

            .nav__path {
                margin: 11px;
            }

            .nav__sort-dropdown-content {
                display: block;
                opacity: 0;
                min-width: 160px;
                bottom: 50px;
                z-index: 1;
                border: 1px solid black;
                padding: 5px 15px;

                a {
                    color: black;
                    text-decoration: none;
                    display: block;
                    font-size: 14px;
                    text-align: right;
                    font-weight: 300;
                    letter-spacing: 1px;
                    white-space: nowrap;
                    margin: 15px 0;
                }
            }
        }
        .nav__sort:hover .nav__sort-dropdown-content {
            opacity: 1;
            transition: opacity .2s ease-out 0.1s;
        }
    }

    .content {
        display: grid;
        grid-template-columns: repeat(3, calc(33% - 15px));
        grid-template-rows: repeat(2, 50%);
        grid-row-gap: 32px;
        grid-column-gap: 20px;
        justify-content: center;

        a {
            text-decoration: none;
            color: black;
        }

        @mixin product-hover {
            box-shadow: 0 10px 30px rgba(0, 0, 0, 0.0697);
            cursor: pointer;
            transition: .5s;
        }

        .content__product {
            margin-left: 50px;
            margin-top: 60px;
            margin-bottom: 30px;
            position: relative;

            .content__photos {
                position: relative;
            }

            .content__photo {
                width: 100%;
                height: 100%;
                max-height: 400px;
                display: block;
                object-fit: cover;
            }

            .content__slider {
                display: flex;
                opacity:0;
                justify-content: space-evenly;
                position: absolute;
                bottom: 0;
                align-items: center;
                max-height: 66px;
                width: 100%;
                background-color: white;
                padding: 13px 0;
                transition: .5s;
​
                .content__slider-img {
                    max-width: 40px;
                    max-height: 40px;
                    object-fit: cover;
                    cursor: pointer;
                }
            }

            .content__category {
                margin: 15px 0 2px 20px;
                text-transform: uppercase;
                color: $grey-color;
                font-size: 10px;
                font-weight: 500;
                letter-spacing: 1px;
            }

            .content__name {
                margin: 0 0 15px 20px;
                font-weight: 16px;
                font-weight: 300;
            }

            .content__price {
                font-size: 20px;
                font-weight: 500;
                display: flex;
                justify-content: center;
            }

            .content__count {
                color: $grey-color;
                display: flex;
                justify-content: center;
                margin: 0;
            }
        }

        .content__product:hover {
            @include product-hover;
        }

        .content__product:hover .content__slider {
            opacity:1;
            transition: opacity .1s ease-out 0.1s;
        }
    }

    @media (min-width: 1600px) {
        .content {
            grid-template-columns: repeat(4, calc(25% - 18px));
            grid-template-rows: repeat(2, 55%);
        }
    }

    @media (max-width: 1200px) {
        .content {
            grid-template-columns: repeat(2, calc(50% - 12px));
            grid-template-rows: repeat(3, 35%);
        }
    }
}
